@model User
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <div class="col-md-6 login-form-2">
        <h3>Current user</h3>
        <div class="form-group">
            <label>@Model.id</label>
        </div>
        <div class="form-group">
            <label>@Model.username</label>
        </div>
        <div class="form-group">
            <label>@Model.lastcheckedin</label>
        </div>
    </div>
</div>